<div class="container">
    <img ng-src="{{event.imageUrl}}" alt="{{event.name}}" width="800px" height="200px">
    <div class="panel panel-default">
        <div class="panel-heading"><strong>{{ event.name | uppercase }}</strong></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6">
                    <strong>Date: </strong>{{ event.date | date:"MM/dd/yyyy"}}<br>
                    <strong>Time: </strong>{{ event.time}}
                </div>
                <div class="col-sm-6">
                    <address>
                        <strong>Address:</strong><br>
                        {{ event.address}}<br>
                        {{ event.city}},
                        {{ event.state}}
                    </address>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">{{event.desc}}</div>
            </div>
        </div>
    </div>
    <hr>
    <button ng-click="reload()" style="color:blue;">Reload</button>
    <h3>Sessions</h3>
    <span>Order By:</span>
    <select ng-model="sortOrder" class="input-small">
        <option selected value="name">Name</option>
        <option value="-upVoteCount">Votes</option>
    </select>
    <span>Choose Level:</span>
    <select ng-model="query.level" class="input-medium">
        <option selected value="">All</option>
        <option value="Introductory">Introductory</option>
        <option value="Intermediate">Intermediate</option>
        <option value="Advanced">Advanced</option>
    </select>
    <ul class="event-details thumbnails">
        <li ng-repeat="session in event.sessions| orderBy:sortOrder | filter:query" id="session{{session.id}}">
            <vote upvote="upVote(session)" downvote="downVote(session)" count="{{session.upVoteCount}}" alert="alert()"></vote>
            <div class="row session">
                <div class="well col-sm-9 session-details">
                    <collapsible name="{{session.name}}">
                        <h5><strong>Speaker: </strong>{{session.creatorName}}</h5>
                        <demo1>
                        <h5><strong>Duration: </strong>{{session.duration}}</h5>
                        </demo1>
                        <h5><strong>Level: </strong>{{session.level}}</h5>
                        <h5><strong>Abstract: </strong></h5>
                        <p>{{session.abstract}}</p>
                    </collapsible>
                </div>
        </li>
    </ul>
</div>